@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --aqua-primary: #00e5ff;
  --aqua-hover: #00b8cc;
  --dark-bg: #121212;
  --component-bg: #1e1e1e;
  --text-primary: #ffffff;
  --text-secondary: #b0b0b0;
  --danger: #cf6679;
  --success: #03dac6;
  --font-main: 'Roboto', sans-serif;
  --bg-dot: rgba(0, 229, 255, 0.15);
}

[data-theme='light'] {
  --dark-bg: #f5f5f5;
  --component-bg: #ffffff;
  --text-primary: #121212;
  --text-secondary: #555555;
  --aqua-primary: #008ba3;
  /* Darker aqua for better contrast on light */
  --aqua-hover: #00acc1;
  --bg-dot: rgba(0, 0, 0, 0.426);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
  outline: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--dark-bg);
  color: var(--text-primary);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--dark-bg);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--aqua-primary);
}